### Filters the Book_ID's with the same Order_ID as the book which is being searched

In [ ]:
import pandas as pd

# Load the Order table CSV file into a DataFrame
df = pd.read_csv('/content/Order Table - Sheet1.csv')

# Filter to get Order IDs for Book ID 10 which is corresponding to Alchemist
order_ids = df[df['Book_ID'] == 10]['Order_ID'].unique()

# Create a new DataFrame with all Book IDs corresponding to these Order IDs, excluding Book ID 10
new_df = df[df['Order_ID'].isin(order_ids) & (df['Book_ID'] != 10)]

# Display the new DataFrame
print(new_df)

    Order_ID  Book_ID  User_ID
1        103       12       12
2        203       14      145
5        100       12      234
10       100       15     3434
14       203       12      188
17       100       13      134
20       103        8      473

### Count the occurences of these Book_ID's and sorting them in order of their frequenct from high to low

In [ ]:
# Count occurrences of each Book ID and sort
book_id_counts = new_df.groupby('Book_ID').size().reset_index(name='counts')
sorted_book_ids = book_id_counts.sort_values(by='counts', ascending=False)
print(sorted_book_ids)

   Book_ID  counts
1       12       3
0        8       1
2       13       1
3       14       1
4       15       1

### Getting the details of author_ID and Publisher_ID of the Alchemist book using Book_ID and then filtering books with same publisher or author, then further taking only those book_ids which are in the new_df table

In [ ]:
# Load the second CSV file with the Book Details
other_df = pd.read_csv('/content/Book Detail - Sheet2 (1).csv')

# Find the Author ID and Publisher ID for Book ID 10
book_10_info = other_df[other_df['Book_ID'] == 10]
author_id_10 = book_10_info['Author_ID'].iloc[0]
publisher_id_10 = book_10_info['Publisher_ID'].iloc[0]

# Filter new_df to include Book IDs with the same Author ID or Publisher ID as Book ID 10
filtered_df = other_df[(other_df['Author_ID'] == author_id_10) | (other_df['Publisher_ID'] == publisher_id_10)]

# Now, filter this to only include Book IDs that are in new_df
final_df = filtered_df[filtered_df['Book_ID'].isin(new_df['Book_ID'])]
# Display the final DataFrame
print(final_df)

    Book_ID  Author_ID  Publisher_ID
7         8        134            23
11       12        134            23
12       13        134            23

### Merging the 2 dataframes one with the counts and other with publisher and author id and then finally sorting by counts

In [ ]:
merged_df = pd.merge(final_df, sorted_book_ids, on='Book_ID')

# Sort the merged DataFrame based on the count values
sorted_final_df = merged_df.sort_values(by='counts', ascending=False)

# Display the sorted final DataFrame
print(sorted_final_df.to_string(index=False))

 Book_ID  Author_ID  Publisher_ID  counts
      12        134            23       3
       8        134            23       1
      13        134            23       1